<html>
<head>
    <title>Erro</title>
    <link href="/style.css" rel="stylesheet">
</head>
<body>
    <div class="texto">
        <h1>Erro ao buscar média</h1>
    </div>

    <p>Aluno <strong><%= nome %></strong> não encontrado ou ocorreu um erro.</p>

    <a href="pagina.html"><button>Voltar</button></a>
</body>
</html>