<html>
<head>
    <title>Média Calculada</title>
    <link href="/style.css" rel="stylesheet">
</head>
<body>
    <div class="texto">
        <h1>Média do Aluno</h1>
    </div>

    <p><strong>Nome:</strong> <%= nome %></p>
    <p><strong>Média:</strong> <%= media %></p>

    <a href="pagina.html"><button>Voltar</button></a>
</body>
</html>