Body {
    background-color: #FEE4C3;
}
.texto {
    color: black;
    text-align: center;
}

.notas {
    text-align: center;
    color: black;
    font-size: small;
}
.imagem {
    text-align: center;
    width:30px;
    height: 30px;
}
.aluno {
    background-color: #f1f1f1;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    box-shadow: 0 0 4px #ccc;
}